* {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 auto;
  width: 50%;
  padding: 10px;
}

.column {
  float: left;
  width: 100%;
  margin-bottom: 5%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

h1 {
  font-size: 3.75em;
  font-weight: 700;
  letter-spacing: 2px;
  width: 80%;
  margin: 45px auto 45px;
}

h2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25em;
}

h2+p {
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 20px 0;
  font-weight: 350;
  padding: 15px;
  text-align: justify;
}

.learn-more {
  text-decoration: none;
  border-style: none none solid;
  font-weight: 700;
  color: black;
}

.footer {
  height: 5em;
  background-color: rgb(51, 51, 51);
  margin: 20px;
}

.footer p {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.8;
  font-weight: 350;
  padding: 15px;
}

.footer p a {
  color: white;
}

.responsive {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
  }

  h2 {
    text-align: center;
  }

  body {
    width: 100%;
    padding: none;
  }

  .learn-more {
    display: block;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    border: none;
  }

  .column {
    width: 90%;
  }

  .footer {
    width: 80%;
  }
}